<h1>Click on one of them below to start the game</h1>
<div id='items' class='d-flex justify-content-center'>
  <h1 class='rock mx-5'>
    <a href='/throw/rock'>
      <button class='btn btn-secondary' type='button'>Rock</button>
    </a>
  </h1>
  <h1 class='paper mx-5'>
    <a href='/throw/paper'>
      <button class='btn btn-secondary' type='button'>Paper</button>
    </a>
  </h1>
  <h1 class='scissors mx-5'>
    <a href='/throw/scissors'>
      <button class='btn btn-secondary' type='button'>Scissors</button>
    </a>
  </h1>
</div>